@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, transparent)
    rgb(var(--background-start-rgb));
}
